html, body {
height: 100%;
}

body {
	font-family: sans-serif;
	background-color: #003459;
	color: #F5F3F5;
	font-size: 1.625rem;
	display: flex;
	flex-direction: column;
}


.mainContainer {
   
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex: 1 0 auto;
}    

footer {
	background-color: #001f2f;
	flex-shrink: 0;
}

footer > h4 {
	font-size: 1rem;
	font-weight: 100;
	padding-left: 2rem;
}

#resultsList {
	list-style: none;
	width: 100%;
	margin-top: 0px;
	padding-left: 0px;
}

#search {
    width: 100%;
    padding: .9rem;
    font-size: 1.3rem;
    background-color: #d6d6b1;
	border-radius: 5px; 
	border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: white;
    color: #001f2f;
    box-sizing: border-box;
}

ul {
	padding: 0px;
}

.searchResult {
	background: #d6d6b1;
	color: #564D80;
	display: flex;
	margin-top: 0.1rem;
	padding: 0.5rem .9rem .5rem .9rem;
	box-sizing: border-box;
	border-radius: 5px;
}

.searchResult:hover {
    background: #FF579F;
}

.schoolName{
	font-size: 1.3rem;
	margin: 0;
}

.districtName {
	font-size: 0.9rem;
	margin: 0;
}

#mapid {
    height: 300px;
    width: 100%;
}

.dissapear {

}

li > a {
	text-decoration: none;
	color: #001f2f;
}

.casualtyString {
    background-color: #de541e;
    padding: .5rem;
    box-sizing: border-box;
    font-weight: bold;
    }

.casualtyDetails {
    font-size: 1rem;
    font-weight: 100;
    padding: .5rem;
}

.actionContainer {
    display: flex;
    flex-direction: column;
}

.actionContainer > h1 {
    background-color: #f6aa1c;
    text-align: center;
    border-radius: 4px;
    padding: 0.4rem;
    color: #001f2f;
    font-size: 2.5rem;
}

.actionRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.actionNumber {
    color: #f6aa1c;
    font-weight: 900;
    font-size: 3rem;
    padding-right: .5rem;
}
.callToActionHead > h2 {
    background-color: #de541e;
    padding: .5rem;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: -.1rem;
    margin: 0px;
}
.actionButton {
    background-color: #f6aa1c;
    padding: .7rem;
    border-style: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 2rem;
margin-top: 1.5rem;
}

.actionDetails {
    margin-top: .8rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.emphasiseNumber {
    background-color: #de541e;
    padding: .2rem;
    font-weight: bold;
}