<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How safe is your school?</title>
    <link th:href="@{/Style.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/home/griffin/SchoolCrashData-2.0/SchoolSafetySite/src/main/resources/static/Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<header th:replace="fragments/header :: header">
</header>
<div class="mainContainer">
<div>
    <form>
        <label for="search"><h1>Are the roads by your school safe?</h1></label>
        <input type="text" id="search" name="search" value="Find your school">
        <div id="autocompleteResultsContainer"><ul id="resultsList"></ul></div>
    </form>
</div>

</div>
<footer th:replace="fragments/footer :: footer">

</footer>
</body>
<script>
    var searchBar = document.getElementById("search");
    searchBar.addEventListener('input', autoComplete);
    searchBar.addEventListener('click', textModify)

    function textModify()
    {
        if (this.value == "Find your school")
        {
            this.value = "";
        }
    }

    function displayAutoCompleteResults(data)
    {
        if (data.length >= 1)
        {
            var resultsList = document.getElementById("resultsList");
            resultsList.innerHTML = '';
           data.forEach(data =>
           {
                const linkHolder = document.createElement('a');
                linkHolder.href = "http://192.168.1.170:8080/urn/" + data.urn;

                const li = document.createElement('li');
                li.classList.add('searchResult');

                const schoolName = document.createElement('p');
                schoolName.classList.add('schoolName');
                schoolName.innerText = data.establishmentName;

                const administrativeDistrict = document.createElement('p');
                administrativeDistrict.classList.add('districtName');
                administrativeDistrict.innerText = data.districtAdministrative;
                console.log(data.districtAdministrative);

                li.appendChild(linkHolder)
                linkHolder.append(schoolName);
                linkHolder.append(administrativeDistrict);

                resultsList.appendChild(li);
           });
        }
    }
    function autoComplete()
    {
        console.log("Search changed");
        var searchTerm = document.getElementById("search").value;
        if (searchTerm.length >= 3)
        {
            var searchURL = "http://192.168.1.170:8080/urn/search/" + searchTerm;
            console.log(searchURL);
            fetch(searchURL)
              .then(response => response.json())
              .then(data => displayAutoCompleteResults(data));
        }
    }
</script>
</html>