<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>How safe is your school?</title>
    <link th:href="@{/Style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="mainContainer">
    <div class="SchoolDetails">
        <div th:text="${school.establishmentName}"><h2></h2></div>
        <div th:text="${school.address}"><h4></h4></div>
        <p><span th:text="${boroughString}"></span></p>
    </div>
    <div id="mapid"></div>
    <div>
        <div th:each="accident: ${accidents}">
            <div th:each="casualty : ${accident.casualtyList}">
                <span class="casualtyString" th:text="${casualty.ageSexDetails}"></span>
                <div class="casualtyDetails"><span th:text="${accident.date}"></span> at <span th:text="${accident.time}">

                </span> <p><span th:text="${casualty.casualtyOutputString}"></span></p> </div>
            </div>
        </div>
    </div>
    <div class="actionContainer">
        <h1>TAKE ACTION</h1>
        <div class="actionDiv">
            <div class="actionRow">
                <div class="actionNumber">1</div>
                <div class="callToActionHead"><h2>Tell your MP to make our roads safer</h2>
                <div class="actionDetails">Tell your MP Boris Johnson that there have been
                    <span class="emphasiseNumber" th:text="${constituencyAccidents}">

                </span> children injured on their way to school in <span th:text="${school.parliamentaryConstituency}">

                    </span>.
                <br><button class="actionButton">Contact <span>Boris Johnson</span> now</button>
            </div></div>
            </div>

        </div>
        <div class="actionDiv">
            <div class="actionRow">
                <div class="actionNumber">2</div>
                <div class="callToActionHead"> 
                    <h2>Ask your council what they're doing to keep our children safe</h2>
                <div class="actionDetails">Across <span th:text="${school.districtAdministrative}"></span> there have been
                    <span class="emphasiseNumber" th:text="${boroughAccidents}">

                </span> children injured on their way to school.
                <br><button class="actionButton">Contact your council and ask how they plan to reduce this.</button>
                </div>
                </div>
            </div>
        </div>
            
        <div class="actionDiv">
            <div class="actionRow">
                <div class="actionNumber">3</div>
                <div class="callToActionHead"><h2>Share on facebook and twitter</h2>
                    <div class="actionDetails">Text about this action to go here.
                        <br><button class="actionButton"> Action button text </button>
            </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer>
    <h4><p>Developed by</p>
        <p>Daniel Griffin</p></h4>
</footer>
<script  th:inline="javascript">
    var schoolLat = [[${school.lat}]];
    var schoolLon = [[${school.lon}]];

    var mymap = L.map('mapid').setView([schoolLat, schoolLon], 16);
    var marker = L.marker([schoolLat, schoolLon]).addTo(mymap);
    var lats = [];
    var lons = [];
    markers = [];

    /*[# th:each="accident : ${accidents}"]*/
    lats.push(/*[[${accident.lat}]]*/);
    lons.push(/*[[${accident.lon}]]*/);
    /*[/]*/

    let i = 0;
    while (i < lats.length)
    {
        markers.push(L.marker([lats[i], lons[i]]).addTo(mymap));
        i++;
    }


    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiZXJsaWNoYmFjaG1hbiIsImEiOiJja3FqdXkyOG8wNW42MndyMGtsajBzZW1zIn0.nWuxiJAhQSGZmrzv_1_n0g'
}).addTo(mymap);
</script>
</body>

</html>